.container {
  display: flex;
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 50px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.ball {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: 1px;
}